<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Remove .html extension from URLs -->
                <rule name="RemoveHTMLExtension" stopProcessing="true">
                    <match url="^(.*)\.html$" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Handle root index -->
                <rule name="RootIndex" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                
                <!-- Add .html extension for clean URLs -->
                <rule name="AddHTMLExtension" stopProcessing="true">
                    <match url="^([^.]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                
                <!-- Handle subdirectories -->
                <rule name="SubdirectoryHTML" stopProcessing="true">
                    <match url="^([^.]+)/([^.]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/{R:2}.html" />
                </rule>
                
                <!-- Handle nested subdirectories (for blog posts) -->
                <rule name="NestedSubdirectoryHTML" stopProcessing="true">
                    <match url="^([^.]+)/([^.]+)/([^.]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/{R:2}/{R:3}.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>